.body0{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.body-signup{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #032559;
}
.input-form{
    
    position: relative;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 40px;
}
.input-perfil{
    
    position: relative;
    width: 400px;
    height: 28px;
    left: 80px;
    top: -50px;
    font-family: Poppins;   
    font-style: light;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
}
.input-nome{
    
    position: relative;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 120px;
}

.input-usuarioa{
    position: absolute;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 150px;
}
.input-emaila{
    position: relative;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 180px;
}
.input-senhaa{
    position: absolute;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 210px;
}
.input-senhaC{
    position: relative;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 240px;
}
.btn-logins{
    position: relative;
    width: 140px;
    height: 40px;
    left: 40%;
    top: 470px;

    background: #0063A6;
    border-radius: 6px;   
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFCFC;

}

.card-signup{
    position: absolute;
width: 50%;
height: 100%;
left: 50%;
top: 0px;

background: #FFFFFF
}
.title-signup{

    position: absolute;
    width: 250px;
    height: 57px;
    left: 35%;
    top: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 57px;

    color: #000000;
}
.text-signup{

    position: absolute;
    width: 250px;
    height: 57px;
    left: 39%;
    top: 60px;

    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #000000;
}
.logo-login{
    position: absolute;
    width: 120px;
    height: 111.84px;
    left: 100px;
    top: 130px;
}
.nome{

    position: absolute;
    width: 300px;
    height: 34px;
    left: 280px;
    top: 120px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    


    color: #FFFFFF;
}
.slogan1{
    position: absolute;
    width: 521px;
    height: 114px;
    left: 106px;
    top: 250px;

    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;

    color: #FFB932;
}
.link-signup{

    position: relative;
    width: 250px;
    height: 16px;
    left: 150px;
    top: 490px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}